:root {
  /* Kyno+ Theme Colors */
  --bg-start: #0F2027;
  --bg-mid: #203A43;
  --bg-end: #2C5364;

  --text-primary: #ffffff;
  --text-secondary: #aaaaaa;

  --primary-accent: #ffffff;
  /* White buttons */

  /* Font */
  --font-inter: 'Inter', sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  color: var(--foreground);
  background: #02040a;
  /* Very dark blue/almost black */
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  font-family: inherit;
  color: inherit;
}