:root {
  /* Kyno+ Theme Colors */
  --bg-start: #0F2027;
  --bg-mid: #203A43;
  --bg-end: #2C5364;

  --text-primary: #ffffff;
  --text-secondary: #aaaaaa;

  --primary-accent: #ffffff;
  /* White buttons */

  /* Font */
  --font-inter: 'Inter', sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color: var(--text-primary);
  font-family: var(--font-inter);
  background: linear-gradient(180deg,
      #0F2027 0%,
      #13262F 50%,
      #162c36 100%);
  background-attachment: fixed;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  font-family: inherit;
  color: inherit;
}